<!DOCTYPE 
        html
        PUBLIC
        "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link type="text/css" href="@Url.Content("~/Content/CSS/black-tie/jquery-ui-1.8.18.custom.css")" rel="stylesheet" />	
    <link type="text/css" href="@Url.Content("~/Content/CSS/black-tie/jquery.ui.selectmenu.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/CSS/Web.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.18.custom.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            $(".menulink").button();
        });
    </script>
    @RenderSection("header", false)
</head>
<body>
    <div>
        <img id="headerlogo" src="@Url.Content("~/Content/Images/logo.jpg")" alt="Aether's Notebook" />
        <h1 id="headertext">Aether's Notebook <span class="azure">Azure</span> Server</h1>
        <a href="@Url.Action("LogOff")" class="menulink">Log Out</a>
        <a href="@Url.Action("Profile")" class="menulink">Profile</a>
        <a href="@Url.Action("Index")" class="menulink">Index</a>
    </div>
    <hr class="headerdivider" />
    @RenderBody()
</body>
</html>
